name: Daily Post (every 25 min)

on:
  schedule:
    - cron: "*/25 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install deps
        run: npm install

      - name: Run daily post
        env:
          MODE: daily
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
          GROQ_MODEL: ${{ secrets.GROQ_MODEL }}

          # если вдруг код еще читает OPENAI_API_KEY
          OPENAI_API_KEY: ${{ secrets.GROQ_API_KEY }}

          X_APP_KEY: ${{ secrets.X_APP_KEY }}
          X_APP_SECRET: ${{ secrets.X_APP_SECRET }}
          X_ACCESS_TOKEN: ${{ secrets.X_ACCESS_TOKEN }}
          X_ACCESS_SECRET: ${{ secrets.X_ACCESS_SECRET }}

          BOT_NAME: ${{ secrets.BOT_NAME }}
          BOT_HANDLE: ${{ secrets.BOT_HANDLE }}

        run: npm run dev
